/*********
/*  SFA  *
/********/

@font-face {
  font-family: 'JandaManateeSolid';
  src: url('../fonts/JandaManateeSolid.eot'); /* IE9 Compat Modes */
  src: url('../fonts/JandaManateeSolid.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/JandaManateeSolid.woff') format('woff'), /* Modern Browsers */
       url('../fonts/JandaManateeSolid.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/JandaManateeSolid.svg#2c9d9389db16d6511587b6ede2eee801') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'SharkSoftBites';
  src: url('../fonts/SharkSoftBites.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SharkSoftBites.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SharkSoftBites.woff') format('woff'), /* Modern Browsers */
       url('../fonts/SharkSoftBites.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SharkSoftBites.svg#50d59a65f76d95ee6d01699f46e587d2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
html{background:#414141 url('../img/bg.jpg') no-repeat top;}
body{font-size: 20px; min-width:1250px}
.overlay{display:none;opacity:0; width:100%; height:100%; background: rgba(0,0,0, .75); z-index:50;position: fixed; top:0; left:0; right:0; bottom:0;}
.container {positionre:relative; width:100%; max-width:1366px; margin:auto; overflow:hidden;}
header .head-container{width:100%; max-width:1366px; margin:auto; position:relative;}
.absolut-head{width:100%; background: #fff url('../img/headline.png') repeat-x bottom;position: relative;; z-index:200;}
header{width:100%; }
header #logo{display:inline-block; vertical-align: middle; margin-left:4.3923865%;/* 60 ÷ 1366 */ margin-right:7.3206442%; /* 100 ÷ 1366 */;margin-bottom: 1px;}
header nav {display:inline-block;width:51.976574% /* 710 ÷ 1366 */}
header nav a {position:relative;display:inline-block; font:0.9em "JandaManateeSolid"; color:#1a1b1b; text-transform:uppercase; text-decoration:none; width:24.647887%; /* 175 ÷ 710 */; height:40px; border:solid 1px #929291; text-align:center; padding:6px 0;z-index:3; transition: all .3s ease-in-out;}
header nav a#contact{background:url('../img/bg-headlink-contact.jpg') repeat-x 0 35px;}
header nav a#shop{background:url('../img/bg-headlink-shop.jpg') repeat-x 0 35px; margin-left:4.1727672% /* 57 ÷ 1366 */}
header nav a#contact:hover, header nav a#shop:hover, header nav a#contact.current{background-position:0 0;color: #fff;}
header .head-persos{display:inline-block; vertical-align:middle; margin:9px 00 0 4.2459736%; /* 58 ÷ 1366 */ width:33.943662%; /* 241px */ height:91px; background:url('../img/soon.png') bottom no-repeat; background-size:contain;}
header nav a#shop:hover + .head-persos{background:url('../img/soon-h.png') no-repeat bottom; background-size:contain;}
header .social{display:inline-block; vertical-align:middle; width:8.4919473% /* 116 ÷ 1366 */}
header .social li{display:inline-block; vertical-align:middle; width:34.482759% /* 40 ÷ 116 */}
header .social a{width:100%; height:40px; display:block;}
header .social li#facebook a{background: url('../img/fb.png') no-repeat center; background-size:contain;}
header .social li#facebook a:hover{background: url('../img/fb-h.png') no-repeat center; background-size:contain;}
header .social li#instagram a{background: url('../img/ig.png') no-repeat center; background-size:contain;}
header .social li#instagram a:hover{background: url('../img/ig-h.png') no-repeat center; background-size:contain;}
header .social li#sep{width:1.7241379%; /* 2 ÷ 116 */ height:38px; background:#000101; margin-left: 19.327586%; /* 23 ÷ 116 */ margin-right:8.9827586%; /* 11 ÷ 116 */min-width: 1px;}
header .subheader{position:absolute;height:155px; width:100%; min-width:1250px; background:#79a5a2 url('../img/bg-subheader.png') no-repeat center; z-index:100; top:-52px;}
header .subheader ul{width:auto; max-width:1366px; margin:auto;}
header .subheader li{position:relative; display:inline-block; vertical-align: top; margin-top:55px;}
header .subheader li.sub-fb{margin-left:6.0761347%; /* 83 ÷ 1366 */ width:15.666179%; /* 214 ÷ 1366 */ height:155px; margin-right:4.3923865%; /* 60 ÷ 1366 */margin-top: 0;}
header .subheader li.sub-fb img{width:auto;max-width: 100%; position:absolute; bottom:0;}
header .subheader p.title{color:#292928; font:1em "JandaManateeSolid"; text-align:center; text-transform:uppercase;}
header .subheader p{color:#e6e7e7; font:1em/1em "JandaManateeSolid"; text-align:center;}
header .subheader a.mail {color:#e6e7e7; text-decoration:none;}
header .subheader a#subhead-close{display:inline-block; margin-left:8.6383602%;/* 118 ÷ 1366 */ margin-top:18px;}
.subhead-mail {width:21.669107% /* 296 ÷ 1366 */}
.subhead-tel {width:18.008785% /* 246 ÷ 1366 */}
.subhead-tel {width:20.131772% /* 275 ÷ 1366 */}

/* Home */
.content{width: 100%; overflow:hidden;}
.content > section {max-width:1366px; margin:auto;}
.liste-persos{display:inline-block; vertical-align:middle; width:480px; padding: 100px 0 110px; margin-left: 175px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.liste-persos h1{color:#f4f4f4; font:2em "JandaManateeSolid"; margin-left:70px; text-transform:uppercase;}
.liste-persos li {width:154px; height:154px; border:solid 3px #9a9b9b; display:inline-block; vertical-align:top; margin-right:6px; margin-bottom:6px;}
.liste-persos li#moz-bear.current, .preview#bear, nav a.nav-bear:hover{background:#16a085;}
.liste-persos li#moz-big-bear.current, .preview#big-bear, nav a.nav-big-bear:hover{background:#929291;}
.liste-persos li#moz-zion.current, .preview#zion, nav a.nav-zion:hover{background:#b29975;}
.liste-persos li#moz-wolf.current, .preview#wolf, nav a.nav-wolf:hover{background:#a4526a;}
.liste-persos li#moz-kat.current, .preview#kat, nav a.nav-kat:hover{background:#c6c6c6;}
.liste-persos li#moz-acero.current, .preview#acero, nav a.nav-acero:hover{background:#d64d4e;}
.liste-persos li#moz-blue.current, .preview#blue, nav a.nav-blue:hover{background:#6f82aa;}
.liste-persos li#moz-george.current, .preview#george, nav a.nav-george:hover{background:#6d6d6d;}
.liste-persos li#moz-unknow.current{background:none;}
.preview#unknow{background:none;}
.liste-persos li a{display:block;height:100%; width:100%;}
.liste-persos li img{width:auto; max-width:100%;}

.preview{position:relative; display:inline-block; vertical-align:middle; margin-left: 138px; margin-top: -80px;width:430px; height:460px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.preview img{position:absolute; right:0; bottom:0;}

/* Personnages */
.content-persos{position:relative; overflow:hidden;}
.content-persos article{width:38.506582%; /* 525 ÷ 1366 */ color:#f7f7f7; display:inline-block; vertical-align:top;}
.content-persos .infos{margin:60px 22.857143%; /* 120 ÷ 525 */ line-height:0;}
.content-persos h1{height:145px; padding:10% 10.095238% 10% 0; /* 53 ÷ 525 (right) */ color:#f7f7f7; font:2.5em "SharkSoftBites"; text-transform: uppercase; text-align:right;}
.content-persos h2{font:1.6em "SharkSoftBites"; text-transform:uppercase; display:inline-block; margin-top:30px;}
.content-persos p{font:1em "SharkSoftBites"; text-transform:uppercase; display:inline-block; margin-bottom:30px;}
.content-persos .inline{display:inline;}
.content-persos .sfa-slider{background:#efefef;}

.content-persos aside{position:relative; display:inline-block; vertical-align:top; width:61.493411% /* 840 ÷ 1366 */}
.content-persos aside a {position:absolute; top: 14px; color:#464949; font:0.9em "SharkSoftBites"; background:#f9f9f9; text-decoration:none; text-align:center; text-transform: uppercase; z-index:200;}
.content-persos aside a#share{width:90px; height:90px; line-height:90px; right: 121px;}
.content-persos aside a#menu{width:90px; height:90px; background:#1a1b1b; right: 14px; line-height: 85px;}
.content-persos aside a#menu span{position:relative; display: inline-block; vertical-align: middle;width:50px; margin:auto; height:5px; background:#f9f9f9; opacity:1; transition:all .3s;}
.content-persos aside a#menu span:before{content:''; display:block; position:absolute; width:50px; height:5px; background:#f9f9f9; transition:all .3s; transform:translateY(300%); -webkit-transform: translateY(300%);}
.content-persos aside a#menu span:after{content:''; display:block; position:absolute; width:50px; height:5px; background:#f9f9f9; transition:all .3s; transform:translateY(-300%); -webkit-transform:translateY(-300%); }
.content-persos aside a#menu.open span{background: transparent;}
.content-persos aside a#menu.open span:before{-webkit-transform:translateY(0) rotate(45deg);transform:translateY(0) rotate(45deg);}
.content-persos aside a#menu.open span:after{-webkit-transform:translateY(0) rotate(-45deg);transform:translateY(0) rotate(-45deg);}

.content-persos nav{position:absolute; right:0; top:0; transition:all .5s ease-out; -webkit-transform:translateX(100%); transform:translateX(100%); height:100%; overflow-y:auto;}
.content-persos nav.visible{-webkit-transform:translateX(0);transform:translateX(0);}
.content-persos nav ul{height:720px;}
.content-persos nav a{position:relative; display:block; width:375px; height:90px; background:#404040; color:#f4f4f4; border-bottom:solid 1px #282828; font:56px "JandaManateeSolid"; text-decoration:none; text-align:center; text-transform:uppercase;}
.content-persos nav a span{opacity:0;}
.content-persos nav a:hover span{position:relative; z-index:10;opacity:1;}
.content-persos nav a:after{content:"";position:absolute;top:0; bottom: 0;display: block;left:0; right: 0;z-index:20;}

.content-persos .boite{position:relative; transition:all .5s ease-out;}
.content-persos .boite:before{content:""; position:absolute; display:block; opacity:0; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.75); z-index:-1; transition:all .5s ease-out;}
.content-persos .over.boite:before{opacity:1; z-index:195;}
.content-persos .boite.translate{-webkit-transform:translateX(-375px);transform:translateX(-375px);}

.content-persos .sidebar{position:absolute; bottom:0; width:100%; height:50px; background:#414141; z-index:201;}
.content-persos .sidebar a{display:block; background:url('../img/btn-down.png') no-repeat center; height:40px; width:40px; margin:5px auto;}

/* Acéro */
nav a.nav-acero:after{background: url('../img/persos/acero.svg') no-repeat -132px 10px; background-size:135%;}
article#acero-intro{background:#d64d4e;}
article#acero-intro h1{background:#c84748 url('../img/persos/sfa-acero.png') no-repeat -380px 14px; background:#c84748 url('../img/persos/acero.svg') -400px 5px no-repeat; background-size:170%;}
/* Bear */
nav a.nav-bear:after{background: url('../img/persos/sfa-bear.png') no-repeat -0 -77px;}
article#bear-intro{background:#16a085;}
article#bear-intro h1{background:#149179 url('../img/persos/sfa-bear.png') no-repeat -380px 14px; /*background:#149179 url('../img/persos/bear.svg') -400px 5px no-repeat; */background-size:170%;}
/* Big-Bear */
nav a.nav-big-bear:after{background: url('../img/persos/sfa-big-bear.png') no-repeat -0 -47px;}
article#big-bear-intro{background:#929291;}
article#big-bear-intro h1{background:#7b7b7b url('../img/persos/sfa-big-bear.png') no-repeat -380px 14px; /*background:#7b7b7b url('../img/persos/big-bear.svg') -400px 5px no-repeat;*/ background-size:170%;}
/* Blue */
nav a.nav-blue:after{background: url('../img/persos/sfa-blue.png') no-repeat -13px -88px;}
article#blue-intro{background:#6f82aa;}
article#blue-intro h1{background:#637496 url('../img/persos/sfa-blue.png') no-repeat -380px 14px; /*background:#637496 url('../img/persos/blue.svg') -400px 5px no-repeat;*/ background-size:170%;}
/* George */
nav a.nav-george:after{background: url('../img/persos/sfa-george.png') no-repeat 5px 5px;}
article#george-intro{background:#6d6d6d;}
article#george-intro h1{background:#606060 url('../img/persos/sfa-george.png') no-repeat -380px 14px; /*background:#606060 url('../img/persos/george.svg') -400px 5px no-repeat;*/ background-size:170%;}
/* Kat */
nav a.nav-kat:after{background: url('../img/persos/sfa-kat.png') no-repeat 0px -38px;}
article#kat-intro{background:#a4526a;}
article#kat-intro h1{background:#9a4b63 url('../img/persos/sfa-kat.png') no-repeat -380px 14px; /*background:#9a4b63 url('../img/persos/kat.svg') -400px 5px no-repeat;*/ background-size:170%;}
/* Wolf */
nav a.nav-wolf:after{background: url('../img/persos/sfa-wolf.png') no-repeat 20px -20px;}
article#wolf-intro{background:#a4526a;}
article#wolf-intro h1{background: #9a4b63 url('../img/persos/sfa-wolf.png') no-repeat -273px -166px; /*background:#9a4b63 url('../img/persos/wolf.svg') -400px 5px no-repeat;*/ background-size: 170%;}
/* Zion */
nav a.nav-zion:after{background: url('../img/persos/sfa-zion.png') no-repeat 0px 17px;}
article#zion-intro{background:#b29975;}
article#zion-intro h1{background:#a38c6b url('../img/persos/sfa-zion.png') no-repeat -380px 14px; /*background:#a38c6b url('../img/persos/zion.svg') -400px 5px no-repeat;*/ background-size:170%;}



