<section id="home">
	<ul class="liste-persos">
		<h1 id="title-persos">Bear</h1>
		<li id="moz-bear" class="current"><a href="javascript:;" onclick="ga('send','event','Hbear','click')" ng-click="go('/personnages/bear', 'slideFromHome')"><img src="img/persos/mini-bear.png" alt="Bear"></a></li><!-- 
	 --><li id="moz-big-bear"><a href="javascript:;" onclick="ga('send','event','HBigBear','click')" ng-click="go('/personnages/big-bear', 'slideFromHome')"><img src="img/persos/mini-big-bear.png" alt="Big Bear"></a></li><!-- 
	 --><li id="moz-blue"><a href="javascript:;" onclick="ga('send','event','HBlue','click')" ng-click="go('/personnages/blue', 'slideFromHome')"><img src="img/persos/mini-blue.png" alt="Blue"></a></li><!-- 
	 --><li id="moz-wolf"><a href="javascript:;" onclick="ga('send','event','HWolf','click')" ng-click="go('/personnages/wolf', 'slideFromHome')"><img src="img/persos/mini-wolf.png" alt="Wolf"></a></li><!-- 
	 --><li id="moz-zion"><a href="javascript:;" onclick="ga('send','event','HZion','click')" ng-click="go('/personnages/zion', 'slideFromHome')"><img src="img/persos/mini-zion.png" alt="Zion"></a></li><!-- 
	 --><li id="moz-kat"><a href="javascript:;" onclick="ga('send','event','HKat','click')" ng-click="go('/personnages/kat', 'slideFromHome')"><img src="img/persos/mini-kat.png" alt="Kat"></a></li><!-- 
	 --><li id="moz-acero"><a href="javascript:;" onclick="ga('send','event','HAcero','click')" ng-click="go('/personnages/acero', 'slideFromHome')"><img src="img/persos/mini-acero.png" alt="Acéro"></a></li><!-- 
	 --><li id="moz-george"><a href="javascript:;" onclick="ga('send','event','HGeorges','click')" ng-click="go('/personnages/george', 'slideFromHome')"><img src="img/persos/mini-george.png" alt="George"></a></li><!-- 
	 --><li id="moz-unknow"></li>
	</ul>

	<div class="preview" id="bear">
		<img src="img/persos/big-bear.png" alt="Bear">
	</div>
</section>