<ul class="liste-persos">
	<h1 id="title-persos">Bear</h1>
	<li id="moz-bear" class="current"><a href="#/personnages/bear"><img src="img/persos/mini-bear.png" alt="Bear"></a></li><!-- 
 --><li id="moz-big-bear"><a href="#/personnages/big-bear"><img src="img/persos/mini-big-bear.png" alt="Big Bear"></a></li><!-- 
 --><li id="moz-blue"><a href="#/personnages/blue"><img src="img/persos/mini-blue.png" alt="Blue"></a></li><!-- 
 --><li id="moz-wolf"><a href="#/personnages/wolf"><img src="img/persos/mini-wolf.png" alt="Wolf"></a></li><!-- 
 --><li id="moz-zion"><a ng-click="go('/personnages/zion', 'slideFromHome')"><img src="img/persos/mini-zion.png" alt="Zion"></a></li><!-- 
 --><li id="moz-kat"><a href="#/personnages/kat"><img src="img/persos/mini-kat.png" alt="Kat"></a></li><!-- 
 --><li id="moz-acero"><a href="#/personnages/acero"><img src="img/persos/mini-acero.png" alt="Acéro"></a></li><!-- 
 --><li id="moz-george"><a href="#/personnages/george"><img src="img/persos/mini-george.png" alt="George"></a></li><!-- 
 --><li id="moz-unknow"></li>
</ul>

<div class="preview" id="bear">
	<img src="img/persos/big-bear.png" alt="Bear">
</div>