<section class="content-persos">
	<div class="boite">
		<article id="acero-intro">
			<h1>Acero</h1>
			<div class="infos">
				<h2 class="inline">Style :</h2>
				<p class="inline">Bandana, cape de justicier, étoile de sheriff</p>
				<h2>Caractère :</h2>
				<p>Il n'obéit qu'à wolf. Il voulait absolument une cape rouge</p>
				<p>C'est un bon robot. Il a parlé de détruire la planète une fois mais c'est tout.</p>
				<img src="img/sep.png">
			</div>
		</article><!-- 
	 --><aside>
			<a id="share" href="javascript:;">Share</a>
			<a id="menu" href="#"><span></span></a>
			<section class="sfa-slider">
				<img src="img/persos/sfa-acero.png" alt="Acéro">
				<img src="img/persos/acero.svg" alt="Acéro" width="100%" height="100%" onerror="this.removeAttribute('onerror'); this.src='logo.png'" />
			</section>
		</aside>
	</div>
	<nav id="nav-menu">
		<ul>
			<li><a class="nav-bear" href="#"></a></li>
			<li><a class="nav-big-bear" href="#"></a></li>
			<li><a class="nav-blue" href="#"></a></li>
			<li><a class="nav-kat" href="#"></a></li>
			<li><a class="nav-acero" href="#"></a></li>
			<li><a class="nav-george" href="#"></a></li>
			<li><a class="nav-wolf" href="#"></a></li>
			<li><a class="nav-zion" href="#"></a></li>
		</ul>
	</nav>
</section>