<section class="content-persos">
	<div class="boite">
		<article id="{{perso.id}}-intro">
			<h1>{{perso.name}}</h1>
			<div class="infos">
				<h2 class="inline">Style :</h2>
				<p class="inline">{{perso.style}}</p>
				<h2>Caractère :</h2>
				<p>{{perso.charactere1}}</p>
				<p>{{perso.charactere2}}</p>
				<img src="img/sep.png">
			</div>
		</article><!-- 
	 --><aside>
			<div class="carre" id="share" href="javascript:;">
				<span>Share</span>
				<a href="javascript:;" id="share-fb"><div class="fb-share-button" data-href="http://sfa.romain.dev/#/personnages/{{perso.id}}" data-layout="button"></div></a><!-- 
			 --><a href="https://twitter.com/share?text={{perso.charactere2}}&url=http://sofaraway.com/%23/{{perso.id}}&hashtags=sfa" id="share-tw"></a>
			</div>
			<a class="menu carre" href="javascript:;"><span></span></a>
			<section class="sfa-slider">
				<img src="{{perso.visuel1}}" alt="{{perso.name}}" id="img-{{perso.id}}">
			</section>
		</aside>
		<div class="switchbar">
			<a href="javascript:;" class="scrollToTop" ng-click="prev()"></a>
			<span></span>
			<a href="javascript:;" class="scrollToBot" ng-click="next()"></a>
		</div>
	</div>
	<nav id="nav-menu">
		<ul>
			<li><a ng-click="go('/personnages/bear')" class="nav-bear"><span>Bear</span></a></li>
			<li><a ng-click="go('/personnages/big-bear', 'slideUp')" class="nav-big-bear" href="#/personnages/big-bear"><span>Big Bear</span></a></li>
			<li><a ng-click="go('/page2', 'slideUp')" class="nav-blue" href="#/personnages/blue"><span>Blue</span></a></li>
			<li><a ng-click="go('/page2', 'slideUp')" class="nav-kat" href="#/personnages/kat"><span>Kat</span></a></li>
			<li><a ng-click="go('/page2', 'slideUp')" class="nav-acero" href="#/personnages/acero"><span>Acéro</span></a></li>
			<li><a ng-click="go('/page2', 'slideUp')" class="nav-george" href="#/personnages/george"><span>George</span></a></li>
			<li><a ng-click="go('/page2', 'slideUp')" class="nav-wolf" href="#/personnages/wolf"><span>Wolf</span></a></li>
			<li><a ng-click="go('/page2', 'slideUp')" class="nav-zion" href="#/personnages/zion"><span>Zion</span></a></li>
		</ul>
	</nav>
</section>